body{
  background:rgb(98, 0, 255) !important;
}
/* RESET */
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:"Segoe UI",sans-serif;
}

body{
  background:#f3f4f6;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* CARD */
.card{
  background:#ffffff;
  width:360px;
  padding:26px 28px;
  border-radius:18px;
  box-shadow:0 18px 40px rgba(0,0,0,.08);
}

/* TITLE */
.form-title{
  text-align:center;
  font-size:26px;
  font-weight:600;
  margin-bottom:18px;
  color:#111827;
}

/* FORM GROUP */
.form-group{
  margin-bottom:10px;
}

/* LABEL */
label{
  display:block;
  font-size:11px;
  font-weight:500;
  color:#6b7280;
  margin-bottom:4px;
  margin-left:6px;
}

/* INPUT */
input[type="text"],
input[type="email"],
input[type="password"]{
  width:100%;
  padding:11px 14px;
  border-radius:12px;
  border:1px solid #e5e7eb;
  font-size:14px;
  transition:0.2s;
}

input:focus{
  outline:none;
  border-color:#6366f1;
  box-shadow:0 0 0 3px rgba(99,102,241,.15);
}

/* PHOTO UPLOAD */
.photo-upload{
  text-align:center;
  margin-bottom:14px;
}

.photo-preview{
  width:110px;
  height:110px;
  border-radius:12px;
  border:1px dashed #d1d5db;
  object-fit:cover;
  margin-bottom:8px;
}

/* BUTTON */
button{
  width:100%;
  padding:12px;
  margin-top:14px;
  border:none;
  border-radius:14px;
  background:#4f46e5;
  color:white;
  font-size:15px;
  font-weight:500;
  cursor:pointer;
  transition:0.2s;
}

button:hover{
  background:#4338ca;
  transform:translateY(-1px);
}

/* SECOND BUTTON */
.btn-secondary{
  background:#e5e7eb;
  color:#111827;
}

.btn-secondary:hover{
  background:#d1d5db;
}

/* FOOTER */
.form-footer{
  text-align:center;
  margin-top:14px;
  font-size:13px;
}

.form-footer a{
  color:#4f46e5;
  font-weight:500;
  text-decoration:none;
}
